<div class="kt-login__forgot">
	<div class="kt-login__head" style="text-align: center">
		<h3>{{ 'AUTH.FORGOT.TITLE' | translate }}</h3>
		<div class="kt-login__desc">{{ 'AUTH.FORGOT.DESC' | translate }}</div>
	</div>
	<kt-auth-notice style="font-size: 15px"></kt-auth-notice>

	<form class="kt-form" [formGroup]="forgotPasswordForm" autocomplete="off" style="margin: 0 !important;">
		<div class="input-group">
			<input class="form-control" style="font-size: 16px" type="email" placeholder="{{ 'AUTH.INPUT.EMAIL' | translate }}" formControlName="email" autocomplete="off">
		</div>
		<div class="kt-login__actions">
			<button routerLink="/auth/login" [disabled]="loading" id="kt_login_signup_cancel" class="btn btn-primary btn-elevate kt-login__btn-primary" style="margin-right: 100px">{{ 'AUTH.GENERAL.BACK_BUTTON' | translate }}</button>
			<button (click)="submit()" class="btn btn-primary btn-elevate kt-login__btn-primary" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">{{ 'AUTH.GENERAL.SUBMIT_BUTTON' | translate }}</button>
		</div>
	</form>
</div>

