$icon_font_size: 1.7rem;
$border_radius: 6px;
$portlet_margin_right: 20px;
$border_line: 1px solid rgb(210, 210, 210);
$background_color_white: rgb(255, 255, 255);
$color_black: #1a1a27;
$not-info_border: 1px solid rgba(215, 225, 255, 0.64);
$not-info_color: rgba(215, 225, 255, 0.64);
$head_height: 40px;

$color_blue_1: #b6defc;
$color_blue_2: #a4d5fa;
//$color_blue_2: #a0cfe5;

$color_green_1: #8beaaa;
$color_green_2: #7acd95;

// brand color (спинер)
$brand_color: #0f8fee;
$gray_color: rgb(210, 210, 210);
